@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    font-family: font-family: "Merriweather", serif;
}
/* header section styles hear  */
.bannar-containar{
    max-width: 1334px;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bannar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.bannar-content p, h1{
    color: white;

}
.bannar-content p{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}
.bannar-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}
/* secend-section-comtainer start hear  */
.secend-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 120px;
}
.secend-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
}
.secend-section-content h6{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 48px;
}
.secend-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;  
    margin-top: 16px;       
}
.secend-section-content img{
    width: 802.9px;
    height: 500px;
    left: 399px;
    right: -399px;
    top: 165.28%;
    bottom: -142.09%;
    margin-top: 48px;

}
 /* secend section start heare  */
 .thard-section-containar{
    width: 1320px;
    height: 600px;
    background-image: url('../images/Vectorrr.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: space-between;
    color: #fff;
    display: flex;
 }
 .leftsid-content{
    width: 60%;
    height: 600px;
 }
 .rightsid-content{
    width: 40%;
    height: 600px;
 }
 .leftsid-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 54px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin: 126px 87px 26px 126px;
 }
 .leftsid-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 200;
    line-height: 20px;
    text-align: left;
    margin: 0px 28px 48px 126px;
 }
 .leftsid-content a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0px 0px 0px 158px;
    text-decoration: none;
 }
 .rightsid-content .rightsid-img{
  text-align: center;
  margin: 68px 108px 67px 39px;
 }
 /* forth-section-conteinar  start hear */
 .forth-section-conteinar{
    /* border: 2px solid red; */
    width: 1320px;
    height: 482px;
    margin: 0 auto;
    margin-top: 220px;

 }
 .forth-section-content h3{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    
 }
 .forth-section-content .new-park{
    margin-top: 100px;
 }
 .forth-section-content span{
    color: red;
 }
 /* button style */
 .forth-section-conteinar .join-btn{
    text-align: center;
 }
 .forth-section-conteinar .btn{
    background-color: rgb(255, 0, 0);
    color: #fff;
    margin-top: 48px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 20px;
 }
 /* fifth section start hear */
 .fifth-section-container{
    /* border: 2px solid red; */
    width: 1320px;
    height: 463px;
    margin: 0px auto;
    display: flex;
 }
 .sub-section-one{
    width: 463px;
    height: 463px;
 }
 .sub-section-one .title{
    color: rgb(255, 0, 0);
    font-size: 24px;
    margin-top: 104px;
 }
 .discription{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 22px;
 }
 .sub-section-one h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
 }
 .sub-section-tow{
    width: 463px;
    height: 463px;
    text-align: center;
    margin-left: 70px;
    
 }
 .sub-section-tow .Ellipse-img{
    border: 15px solid red;
    margin-top: 50px;
    border-radius: 100%;
    box-sizing: border-box;
    padding: 10px;
 }
 .sub-section-three{
    margin-left: 118px;
    margin-top: 112px;
 }
.sub-section-three .title-24{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}
.sub-section-three .discription{
    font-size: 20px;
    font-weight: 400px;
}
.sub-section-three img{
    margin-top: 46px;
}